.movies--container {
    width: 300px;
    transition: box-shadow 0.5s linear;
}

.movies--container:hover {
  box-shadow: 1px 2px 15px rgba(0, 255 ,255, 0.9);  
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6); 
}

.movie {
  padding: 20px 20px 20px 20px;
  color: rgb(196, 191, 191);
}

.movie--title {
  font-size: 20px;
  padding: 5px 0 5px 0;
  color: white;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

.movie--title:hover {
  color: rgba(0, 255 ,255, 0.9);
}


.image {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}

.rank {
  font-size: 15px;
  color: rgb(156, 154, 154);
}

strong {
  padding: 0 5px 0 5px;
  font-size: 20px;
}





