.sidebar--container {
  position: fixed;
  top:62px;
  bottom: 0;
  width: 250px;

  background-color: rgb(37, 38, 41);
  color:white;

  transition: all 0.5s ease-out;
}

.genre {
  font-size: 18px;
  padding: 100px 0 30px 30px;
}

.container--genre {
  display: grid;
  grid-template-columns: 100px 100px;
  justify-content: center;
  column-gap: 20px;
  row-gap: 30px;

  margin-left: 30px;
  font-size: 12px;
  list-style: none;
}

.lightMode {
  background-color: rgb(226, 214, 214);
  color: black;
  font-weight: 400;
}